/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

@import "compass";
@import "compass/reset";
@import "variables";
@import "mixins";

//SET VIEWPORT TAG (http://goo.gl/dgcVV)
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

//SETTING UP MAIN ELEMENTS
html {
    // background-color: #fff;
    color: $text-clr;
    font-family: $base-font;
    font-size: ($base-font-size / 16px) * 1em;
    line-height: $base-line-height;
    overflow-y: scroll !important;
    overflow-x: hidden;
    font-weight: $font-weight;
    //important for sticky footer
    position: relative;
    min-height: 100%;
    background-image: url('http://placehold.it/2000x1333');
    @include cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    margin: 0 !important;

    &.error-page-html {
        height: 100%;
    }

    &.active-sidebar {
        overflow: hidden !important;
    }
}
// @include transform-style(preserve-3d);
body {
    // min-width: $page-width;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
}

#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #fff;
    .logo-blink {
        background: url('../images/logo.png') 50% 50% no-repeat;
        -webkit-animation: blinking 1s ease-in-out infinite; /* Safari 4+ */
        -moz-animation:    blinking 1s ease-in-out infinite; /* Fx 5+ */
        -o-animation:      blinking 1s ease-in-out infinite; /* Opera 12+ */
        animation:         blinking 1s ease-in-out infinite; /* IE 10+, Fx 29+ */
        display: inline-block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%); /* IE 9 */
        -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
        transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

a {
    outline: none;  /* removing outline in Mozilla */
    @include transition(all .2s ease);
    text-decoration: none;
    color: $link-clr;
    font-family: $title-font;

    &:active ,&:focus {
        background-color: transparent;
        text-decoration: none;
        outline: none!important;
        color: #000!important;
    }
    &:hover {
        color: $link-hover;
        text-decoration: none;
        outline: none!important;

    }
}


//BORDER BOX FTW
*,
*:before,
*:after {
    @include box-sizing(border-box);    /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
}

p {
    margin-bottom: $space;
    clear: both;
    font-size: $base-font-size;
    color: #898989;
}

img {
    vertical-align: top;
    max-width: 100%;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}


//CLEARING FLOAT (always extend .clearfix class)
.clearfix {
    @include pie-clearfix;
}

//SELECTED TEXT
@include selected-text;

//HIDE CLASS
.hide {
    display: none !important;
}

//SETTING FORM ELEMENTS
button:hover,
input[type="submit"]:hover,
label {
    cursor: pointer;
}

textarea {
    margin: 0;             /* removing margin in Mozilla */
    overflow: auto;        /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}

//removing webkit outline
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

//removing odd button padding/margin in Mozilla
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.bgr-red {
    background-color: #fc686a!important;
}

.inline {
    display: inline-block!important;
}
.block {
    display: block!important;
}
.middle {
    vertical-align: middle!important;
}



// MARGINES AND PADDINGS //


.m-auto {margin:auto;}
.m-0 {margin:0 !important;}
.m-5 {margin:5px !important;}
.m-10 {margin:10px !important;}
.m-20 {margin:20px !important;}

/****  Margin Top  ****/
.m-t-0 {margin-top:0px !important;}
.m-t-5{margin-top:5px !important; }
.m-t-6{margin-top:6px !important; }
.m-t-8{margin-top:8px !important; }
.m-t-10{margin-top:10px !important;}
.m-t-13{margin-top:13px !important;}
.m-t-15{margin-top:15px !important;}
.m-t-20{margin-top:20px !important;}
.m-t-30{margin-top:30px !important;}
.m-t-40{margin-top:40px !important;}
.m-t-50{margin-top:50px !important;}
.m-t-60{margin-top:60px !important;}
.m-t--4{margin-top:-4px !important;}

/****  Margin Bottom  ****/
.m-b-0 {margin-bottom:0px !important;}
.m-b-4 {margin-bottom:4px !important;}
.m-b-5 {margin-bottom:5px !important;}
.m-b-6 {margin-bottom:6px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-12 {margin-bottom:12px !important;}
.m-b-15 {margin-bottom:15px !important;}
.m-b-17 {margin-bottom:17px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-30 {margin-bottom:30px !important;}
.m-b-40 {margin-bottom:40px !important;}
.m-b-50 {margin-bottom:50px !important;}
.m-b-60 {margin-bottom:60px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-140{margin-bottom:140px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-m30 {margin-bottom:-30px !important;}
.m-b-m50 {margin-bottom:-50px !important;}

/****  Margin Left  ****/
.m-l-5 {margin-left:5px !important;}
.m-l-10 {margin-left:10px !important;}
.m-l-13 {margin-left:13px !important;}
.m-l-20 {margin-left:20px !important;}
.m-l-30 {margin-left:30px !important;}
.m-l-40 {margin-left:40px !important;}
.m-l-60 {margin-left:60px !important;}
.m-l-110 {margin-left:110px !important;}

/****  Margin Right  ****/
.m-r-5 {margin-right:5px !important;}
.m-r-8 {margin-right:8px !important;}
.m-r-10 {margin-right:10px !important;}
.m-r-12 {margin-right:12px !important;}
.m-r-15 {margin-right:10px !important;}
.m-r-20 {margin-right:20px !important;}
.m-r-30 {margin-right:30px !important;}
.m-r-40 {margin-right:40px !important;}
.m-r-60 {margin-right:60px !important;}

/****  Padding  ****/
.p-0 {padding:0 !important;}
.p-5 {padding:5px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-30 {padding:30px !important;}
.p-40 {padding:40px !important;}
.p-50 {padding:50px !important;}

/****  Padding Top  ****/
.p-t-0 {padding-top:0 !important;}
.p-t-10 {padding-top:10px !important;}
.p-t-15 {padding-top:15px !important;}
.p-t-20 {padding-top:20px !important;}

/****  Padding Bottom  ****/
.p-b-0 {padding-bottom:0 !important;}
.p-b-10 {padding-bottom:10px !important;}
.p-b-15 {padding-bottom:15px !important;}
.p-b-20 {padding-bottom:10px !important;}
.p-b-30 {padding-bottom:30px !important;}

/****  Padding Left  ****/
.p-l-5 {padding-left:5px !important;}
.p-l-10 {padding-left:10px !important;}
.p-l-13 {padding-left:13px !important;}
.p-l-15 {padding-left:15px !important;}
.p-l-20 {padding-left:20px !important;}
.p-l-30 {padding-left:30px !important;}
.p-l-40 {padding-left:40px !important;}
/* Padding Right  ****/
.p-r-5 {padding-right:5px !important;}
.p-r-10 {padding-right:10px !important;}
.p-r-13 {padding-right:13px !important;}
.p-r-15 {padding-right:15px !important;}
.p-r-20 {padding-right:20px !important;}
.p-r-30 {padding-right:30px !important;}

/****  Top  ****/
.t-0 {top:0; }
.t-5 {top:5px; }
.t-10 {top:10px; }
.t-15 {top:15px; }

/****  Bottom  ****/
.b-0 {bottom:0; }
.b-5 {bottom:5px; }
.b-10 {bottom:10px; }
.b-15 {bottom:15px; }

/****  Left  ****/
.l-0 {left:0; }
.l-5 {left:5px; }
.l-10 {left:10px; }
.l-15 {left:15px; }

/****  Right  ****/
.r-0 {right:0; }
.r-5 {right:5px; }
.r-10 {right:10px; }
.r-15 {right:15px; }


.b-t-n {
    border-top: none!important;
}
.b-b-n {
    border-bottom: none!important;
}
.b-l-n {
    border-left: none!important;
}
.b-r-n {
    border-right: none!important;
}
