/* --------------------------------------------------------------------------------------
+
+ DATEPICKER
+
-------------------------------------------------------------------------------------- */

.datepicker{
	.ui-datepicker-header {
		height: 40px;
		.ui-corner-all {
			display: none;
		}
	}
	.ui-datepicker-title {
		height: 35px;
		line-height: 35px;
		font-size: 15px;
		display: block;
		text-align: left;
		span {
			font-weight: 300;
			font-family: $base-font;

		}
	}
	.ui-datepicker-calendar {
		margin-top: 10px;

		thead {
			th {
				text-align: center;
				width: 14%;
				height: 14%;
				border: 1px solid #d6d6d6;
				font-size: 16px;
				color: #000;
				padding: 5px 0;

			}
		}
		tbody {
			td {
				text-align: center;
				border: 1px solid #d6d6d6;
				padding: 5px 0;
				@include transition(all .3s ease);

				&:hover {
					background-color: darken(#fff, 7%);
				}
				a {
					font-size: 15px;
					display: block;
					text-align: center;
					color: #000;
					font-weight: 300;
				}
				&.ui-datepicker-current-day {
					display: block;
					border: 1px solid #000 !important;
				}
			}
		}
	}
}
