/* --------------------------------------------------------------------------------------
+
+ TYPE
+
-------------------------------------------------------------------------------------- */

//TYPE WEIGHTS
.type--light {
    font-weight: 300 !important;
}
.type--normal {
    font-weight: 400 !important;
}
.type--semibold {
    font-weight: 600 !important;
}
.type--bold {
    font-weight: 700 !important;
}
.type--extrabold {
    font-weight: 800 !important;
}

//TYPE TRANSFORMS
.type--uppercase {
    text-transform: uppercase !important;
}
.type--lowercase {
    text-transform: lowercase !important;
}
.type--capitalize {
    text-transform: capitalize !important;
}
.type--no-transfrom {
    text-transform: none !important;
}

//TYPE COLORS
.type--color-mute {
    color: $color-mute;
}

.type--color-white {
    & > *{
        color: $color-white;
    }
}


.text--20 {
    font-size: 20px;
} 